/* ------------ Class CSS ------------*/
.nb-bg-color {
    background-color: #f09424;
}



/* ------------ ID CSS ------------*/
a#nbMenuItem{
    font-size: 25px;
    padding-right: 20px;
    padding-left: 20px;
    color: black;
    font-family: "Courier New";
}

#userLink {
    font-family: "Courier New";
    color: black;
    font-size: 25px;
}

#signOut {
    font-family: "Courier New";
    color: black;
    font-size: 25px;
}

/* ------------ Underline Animation CSS ------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #eb7f05;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}

.display-4 {
    color: white;
}

.overview .border-color {
    border: 4px solid rgb(209, 127, 5);
}

hr {
    border: 2px solid black;
}

.footer {
    color: black;
    font-size: 30px;
    font-family: "Courier New";
}

h1 {
    font-family: "Courier New";
}

#main-title {
    font-family: Georgia;
}


.icon-white {
    color: black;
}


.about-author{
    color: white;
}

.author{
    background-color: #525559; 
}

div#about{
    width: 400px;
    margin: auto;
}


img#ovPadLeft{
    padding-left: 20px;
}

.card-body {
    background-color: #a9afb8;
}

/* ------- Media Queries --------- */
@media only screen and (max-width: 992px) {
    .adjust-height {
        max-height: 400px;
    }

}


.card {
    background-color: #525559;
    border: none;

}

.card-body {
    margin-bottom: 40px;
}

.procedure {
    background-color: #525559;
}

.accordion-item, .accordian, .accordion-button {
    background-color: #a9afb8;
    font-size: 20px;
}

.accordian {
    background-color: #a9afb8;
}


.graph-bg {
    background-color: #a9afb8;
}

.results-heading {
    text-align: center;
}


table th{
    /*Keep column headers at the top as table is scrolled*/
    position: sticky;
    top: 0px; /* https://www.w3schools.com/cssref/pr_pos_top.php*/
    overflow-y: auto;

}

/* ----------------- Class CSS ----------------- */
.dataForm{
    display: flex;
    justify-content: left;
    align-items: center;
}

.days{
    text-align: center;
    vertical-align: middle;
}

.headerBG{
    background-color: #e6e6e6;
}

.footerBG{
    background-color: #e6e6e6;
}

.ordered-List-item-font{
    font-size:22px;
}
.overview-font{
    font-size:25px;
}

.signUpForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.temps-table{
    max-height: 250px;  /*prevent table from stretching to bottom of screen*/
    overflow: auto;
}

.temps{
    text-align: center;
    vertical-align: middle;
}

.nbMenuItem{
    font-size:25px;
    padding-right: 20px;
    padding-left: 20px;
    color: black;
}

.notes{
    font-size:20px;
}

/* ----------------- ID CSS ----------------- */




/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #595959;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}